{% extends 'base.html' %}

{% block meta %}
<title>Add Task</title>
{% endblock meta %}

{% block content %}
<div style="margin:auto; width:22.5%; margin-top:15%;min-width: 200px;">
    <div class="container" style="padding:15px; border-radius: 10px; border: solid; background-color:lightgrey; ">
        
        <h2 style="margin-bottom: 15px;">Add Task</h2>
        
            <form method="POST" action="" enctype="">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.title }}
                </div><br>
                <div class="form-group">
                    {{ form.description }}
                </div><br>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
            </form>
    </div>
</div>
{% endblock content %}