{% extends 'base.html' %}
{% block content %}

<script>
$(document).ready(function() {
    function card(task) {
        return `
        <div class="col">
            ${task.fields.is_finished ? 
                `
                <div class="card text-white bg-success mb-3" style="width: 18rem; border-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">${task.fields.title}</h5>
                        <h6 class="card-subtitle mb-2">${task.fields.date}</h6>
                        <p class="card-text">${task.fields.description}</p>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" onclick="location.href='finish_task/${task.pk}'" checked>
                            <label class="custom-control-label" for="#">Task Status</label>
                        </div>
                        <a href="delete_task/${task.pk}" class="btn btn-dark">Delete</a>         
                    </div>
                </div>
                `
                :
                `
                <div class="card text-dark bg-light border-secondary mb-3" style="width: 100%; border-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">${task.fields.title}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">${task.fields.date}</h6>
                        <p class="card-text">${task.fields.description}</p>
                        <div class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input" onclick="location.href='finish_task/${task.pk}'">
                            <label class="custom-control-label" for="#">Task Status</label>
                        </div>
                        <a href="delete_task/${task.pk}" class="btn btn-dark">Delete</a>
                    </div>
                </div>
                `
            }
        </div>
        `
    };
    function loop() {
        $.get("{% url 'todolist:show_json' %}", function(data) {
            $.each(data, function(i, value) {
                $("#container0").append(card(value));
            });
        });
    };
    $("#submitbutton").click(e => {
      e.preventDefault();
      const csrftoken = document.querySelector(
        "[name=csrfmiddlewaretoken]"
      ).value;
      $.ajax({
          type: "POST",
          url: "{% url 'todolist:add' %}",
          headers: { "X-CSRFToken": csrftoken },
          mode: "same-origin",
          data: {
            title: $("#titletext").val(),
            description: $("#descriptiontext").val(),
          },
          success: response => {
            $("#modalform").trigger("reset");
            $("#container0").prepend(card(response));
          },
          error: error => {
            console.log(error);
          },
        });
    });
    loop();
})
</script>

<style>
    .add-task {
        width : 135px;
        height : 30px;
        border : none;
        display: inline-block;
        background-color : lightgray;
        border-radius : 3px;
        margin-top : 20px;
        margin-bottom : 20px;
        margin-left : 10px;
    }
    .add-task:hover {
        opacity : 70%;
        cursor : pointer;
    }
    a {
        text-decoration : none;
        color : inherit;
    }
    a:hover {
        color : inherit;
    }
    .card-body:hover {
        cursor : pointer;
        box-shadow : 5px 5px 10px rgba(0,0,0,0.1)
    }
    .navbar-brand:hover {
        cursor : default;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Task</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="" id="modalform">
                {% csrf_token %} 
                <div class="mb-3">
                  <label for="titletext" class="form-label">Title</label>
                  <input type="text" class="form-control" id="titletext" aria-describedby="emailHelp" name="titletext">
                </div>
                <div class="mb-3">
                  <label for="descriptiontext" class="form-label">Description</label>
                  <input type="text" class="form-control" id="descriptiontext" name="descriptiontext">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" id="submitbutton">Submit</button>
        </div>
      </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary py-3">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="navbar-brand" href="#">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA+UlEQVRIie3UPUoDURQF4C9prGwUFEzs1CK1pSsQrHQrupGsIgypjCLWljbaaiexMqApFRyLXGUYdXzCszIHDgOX8/OYd2eYIxO6KDANDrGZM3yCssYJOjkKigg8jsAORjEb5CiYRlj1tOsxe/zJ3E4oKOPZ+vXREjGMkpHZfXRxErMiR8EWHnx9yRs5Cpi9/wGegkXO8H+OptVrYxu72MGa2f7DHe5xgVNc4jW1dAFHGPu8Od9xjMPwNmIV1xXjLfrYQw+LwV7M+qF5119hpangPIQ32Jf29bZwEJ4SZ03ilxAtJQTXsRze53p7FaU8+MhN+dnN8bd4A5pCSXWmAdWXAAAAAElFTkSuQmCC" alt="" width="20" height="20" style="padding-bottom: 3px;">
                    {{username}}
                </a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-light btn-sm" type="button"><a href="{% url 'todolist:logout' %}">Logout</a></button>
            </li>   
        </ul>
    </div>
</nav>

<!-- Button trigger modal -->
<button type="button" class="add-task" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add New Task</button>

<br>
<div style="padding-left: 10px; padding-right: 15px;">
    <div class="row row-cols-1 row-cols-md-5 g-4" id="container0">

    </div>
</div>

{% endblock content %}